.center {
    text-align: center;
}

body {
    background: white;
}

h1 {
    animation: bounce-horizontal ease-in-out 1.5s infinite;
    font-weight: bolder;
}

@keyframes bounce-horizontal {
    0% {
        transform: scaleX(1);
    }
    20% {
        transform: scaleX(0.9);
    }
    40% {
        transform: scaleX(1.1);
    }
    60% {
        transform: scaleX(0.95);
    }
    80% {
        transform: scaleX(1.05);
    }
    100% {
        transform: scaleX(1);
    }
}

th {
    vertical-align: middle;
}

.buttons-form {
    position: fixed;
    display: flex;
    flex-direction: row;
    left: 0;
    bottom: 0;
    margin: 5vh;
    gap: 3vh;
}

a {
    text-decoration: none;
}

.product-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

table, .table {
    width: 60%;
    display: table;
    text-align: center;
    border-radius: 1rem;
    animation: bounce-vertical ease-out 0.5s;
}

@keyframes bounce-vertical {
    0% {
        transform: scaleY(1);
    }
    20% {
        transform: scaleY(0.9);
    }
    40% {
        transform: scaleY(1.1);
    }
    60% {
        transform: scaleY(0.95);
    }
    80% {
        transform: scaleY(1.05);
    }
    100% {
        transform: scaleY(1);
    }
}

.btn-delete-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    z-index: 100;
}