.center {
    text-align: center;
}

body {
    background: white;
}

th {
    vertical-align: middle;
}

.buttons-form {
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0;
    margin: 3vh;
    gap: 3vh;
}

a {
    text-decoration: none;
}

.product-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

table, .table {
    width: 60%;
    display: table;
    text-align: center;
    border-radius: 1rem;
}

.btn-delete-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}